body{
    background:#fceab8;
    text-align: center;

}


h1
{font-size: 56px;
font-weight: bold;
color: rgb(80, 0, 80);
margin: 30px auto;}

p{font-size: 18px;
margin:30px 80px;}

a{display:inline-flex;
margin:10px;}
.title-img{
    max-width: 500px;
    margin: 20px auto;
border-radius: 4px;
border: 2px solid purple;
box-shadow: 1px 2px 2px 0px rgba(149, 93, 231, 0.5);

}